<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] Newsite</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/newsite.styles.css" asp-append-version="true" />
</head>

<body>
	<header>
		<nav style="max-width:1400px; margin-left:auto; margin-right:auto;">
			<div class="text-center py-3">
				<h1 class="display-4">Newsite</h1>
				<p>This is a curated news site for the interesting news</p>
				<div class="nav justify-content-center">
					<a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Index</a>
					<a asp-area="" asp-controller="Home" asp-action="Donate" class="nav-link">Donate</a>
					<a asp-area="" asp-controller="Home" asp-action="Submit" class="nav-link">Submit</a>
					<a asp-area="" asp-controller="Admin" asp-action="Index" class="nav-link">Admin</a>
					<a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Login</a>
				</div>
			</div>
		</nav>
	</header>


	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2025 - Newsite
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
	
</body>
</html>
