@{
    ViewData["Title"] = "";
}


@if (ViewBag.Posts != null)
{
    <div class="d-flex flex-column">
        @foreach (var post in ViewBag.Posts)
        {
            <div class="p-2 my-1 border rounded" style="min-width:300px">
                <div class="d-flex align-items-start">
                    <span class="text-muted small mb-0 me-2 pt-1" style="white-space:nowrap; min-width:90px;">@post.CreatedAt.ToString("MMM dd, yyyy")</span>
                    <div class="flex-grow-1">
                        <div class="fw-bold mb-0" style="font-size:1rem;">@post.Title</div>
                        <div class="text-secondary small mb-2">(@post.Source)</div>
                        <div>
                            @((post.Commentary as string)?.Length > 90 ? (post.Commentary as string)?.Substring(0, 90) + "..." : post.Commentary)
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No posts available.</p>
}