


<!-- display the Post in the ViewBag -->
@{
    var post = ViewBag.Post;
}
@if (post != null)
{
   <a href="@post.Url"><h3>@post.Title</h3></a>
    
    <p>Published on: @post.CreatedAt.ToString("MMMM dd, yyyy")</p>

	<p>@post.Commentary</p>
}
else
{
    <p>No post found.</p>
}
